# Configuration file

key_modifiers {
    I:Alignment_Cycle_Left=0
    I:Alignment_Cycle_Right=0
    I:Alignment_Group_Next=0
    I:Alignment_Group_Prev=0
    I:Fast_Travel=0
    I:Map_Teleport=0
    I:Menu=0
    I:Open_Map=0
    I:key.lotr.swapOffhand=0
    I:key.lotr.useOffhand=0
}


