# Configuration file

appearance {
    # [REQUIRES GTNHLib] Allows all color settings to also apply to the tooltips in the GUIs
    B:CHANGE_GUI_TOOLTIP=true

    # If enabled, the render method will switch to the old getMouseOver() system, this will allow the Maximum Draw Distance config option to be used, but this means tooltips will be rendered through walls [default: false]
    B:ENABLE_MAX_DISTANCE_METHOD=false

    # Enable mod's features
    B:ENABLE_MOD=true

    # Whether to change tooltip's outline depending on the item's rarity
    B:ENABLE_RARITY_OUTLINE_COLOR=true

    # Hide mod names on tooltips. [default: false]
    B:HIDE_MOD_NAME=false

    # Choose a color in hexadecimal (ie: 0xFFAB12CD). Make sure all letters are uppercase and DO NOTE that this is an 8-digit HEX : first two characters after 0x are alpha (transparency)
    C:LOWER_BACKGROUND_COLOR=0xF0100010

    # Choose a color in hexadecimal (ie: 0xFFAB12CD). Make sure all letters are uppercase and DO NOTE that this is an 8-digit HEX : first two characters after 0x are alpha (transparency)
    C:LOWER_OUTLINE_COLOR=0x5028007F

    # Set the maximum distance that tooltips should be displayed from. Requires "Enable maxDistance Method"  [range: 2.0 ~ 64.0, default: 10.0]
    S:MAX_DISTANCE=10.0

    # Color mask applied to the outline if ENABLE_RARITY_OUTLINE_COLOR == true. Change the first two characters after 0x to change the outline's transparency
    C:RARITY_OUTLINE_COLOR_ALPHA=0xFF000000

    # Delay (in ticks) before rendering the tooltip [range: 0 ~ 2147483647, default: 10]
    I:TICKS_DELAY=10

    # Whether to reset the tick counter if the player isn't looking at the item. If true, then wait for the delay every time [default: true]
    B:TICKS_DELAY_RESET=true

    # Choose a color in hexadecimal (ie: 0xFFAB12CD). Make sure all letters are uppercase and DO NOTE that this is an 8-digit HEX : first two characters after 0x are alpha (transparency)
    C:UPPER_BACKGROUND_COLOR=0xF0100010

    # Choose a color in hexadecimal (ie: 0xFFAB12CD). Make sure all letters are uppercase and DO NOTE that this is an 8-digit HEX : first two characters after 0x are alpha (transparency)
    C:UPPER_OUTLINE_COLOR=0x505000FF
}


